*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-image: url(/chicago.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Shorthand image repeat position size */
    /* background: url(water.png) no-repeat center center/cover; */
}
.box{
    border: 10px solid blueviolet;
    /* All sides */
    margin: 10px;
    /* top -bottom /left -right */
margin: 20px 10px;
/* top right bottom left ---clockwise*/
margin: 10px 10px 30px 60px;
margin-top: 20px;
margin-bottom: 26px;
margin-left: 23px;
margin-right: 34px;
/* Same for padding as well */
    /* All sides */
    padding: 10px;
    /* top -bottom /left -right */
padding: 20px 10px;
/* top right bottom left ---clockwise*/
padding: 10px 10px 30px 60px;
padding-top: 20px;
padding-bottom: 26px;
padding-left: 23px;
padding-right: 34px;
padding: 10px 20px 30px 40px;
}